@charset="utf-8";
/*common*/
*{
	margin:0px;
	padding: 0px;
}

.video-info{
	margin-top: 30px;
}

.video-box{
	margin-top: 30px;

}
/*1400x480*/
#header{
	background: url(http://1fly.oss-cn-shanghai.aliyuncs.com/image/bg/banner.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 480px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.clearer{
	clear: both;
}

/*header*/
#header .container{
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	width: 100%;
	height: 480px;
	overflow: hidden;
}

#header ul{
	float: left;
	position: relative;
	left: 50%;
	font-size: 1em;
}

#header ul li{
	float: left;
	position: relative;
	right: 50%;
	margin:0 30px;
}

#header h1{
	padding: 100px;
	font-size: 3em;
}

#header li a{
	color: #FFF;
}

#weixiao-imgInfo{
	font-size: 3em;
}

#main .container{
	background: #FFF;
	width: 780px;
	height: 100%;
	margin:0 auto;
}

/* Record n varchar */
#beianhao{
	margin: 10px;
	text-align: center;
	font-size: 2px;
}