@charset="utf-8";
aside{
	width: 25%;
	margin: auto;
	position: fixed;
}

section{
	width: 75%;
	margin:0 350px auto;
	float: left;
}

pre{
	font-size: 20px;
}

li{
	list-style: none;
	margin: 20px;
}

li a{
	text-decoration: none;
	color:black;
	font-size: 20px;
}